* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------- */
/* Background */
/* -------------- */

.backgroundContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.background {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-attachment: fixed;
}

/* -------------- */
/* NAV BAR */
/* -------------- */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ddd;
    padding: 18px 18px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #ddd;
    font-size: 1.3em;
}

a:hover {
    text-decoration: underline;
}

.left-side-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    position: relative;
    z-index: 1;
}

.nav-image {
    height: 50px;
    width: auto;
}

.nav-title {
    font-size: 24px;
    font-weight: 900;
}
