* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* -------------- */
/* VIDEO Background */
/* -------------- */

.backgroundContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.background {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-attachment: fixed;
}

/* -------------- */
/* NAVIGATION BAR */
/* -------------- */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ddd;
    padding: 18px 18px;
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #ddd;
    font-size: 1.3em;
}

a:hover {
    text-decoration: underline;
    text-shadow: 0 0 0.9em rgb(255, 255, 255);
}

.left-side-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    position: relative;
    z-index: 1;
}

.nav-image {
    height: 50px;
    width: auto;
}
.nav-image:hover {
    box-shadow: 0 0 0.6em white;
}

.nav-title {
    font-size: 24px;
    font-weight: 900;
}

.nav-title:hover {
    text-shadow: 0 0 0.9em rgb(255, 255, 255);
}

/* -------------- */
/* Hero image section*/
/* -------------- */

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 9em auto 0 auto;
    border-radius: 1.5em;
    box-shadow: 0 0 2em rgb(69, 69, 69);
}

.hero-left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ddd;
}

.hero-title {
    font-size: 2.1em;
    margin-bottom: 1em;
    text-shadow: 0 0 0.8em rgb(255, 255, 255);
    text-align: center;
    width: 70%;
}

.hero-message {
    font-size: 1.1em;
    line-height: 1.7em;
    text-align: center;
    display: flex;
    justify-content: center;
}

.button-container {
    margin-top: 3em;
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        rgba(36, 52, 76, 0.6),
        rgba(36, 52, 76, 0.9)
    );
    border: 0.2em solid white;
    border-radius: 1.2em;
    transition: 0.3s;
    width: 9em;
    height: 3em;
    margin: 0 auto;
    font-size: 1.2em;
}

.hero-button:hover {
    box-shadow: 0 0 0.6em white;
}

.hero-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em 5em;
}

.hero-image {
    width: 35vw;
}

.photo-credit {
    color: #ddd;
    font-size: 1.3em;
}

.author-video-BG-credit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 10%;
}

.inner-background {
    background-color: black;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 10px;
}

.credit-text {
    color: #ddd;
    font-size: 20px;
    text-align: center;
}

/* -------------- */
/* Hero image section*/
/* -------------- */

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 0;
    flex-direction: column;
    /* padding: 150px 0; */
    width: 100%;
    background-image: linear-gradient(rgba(36, 52, 76, 1), rgba(36, 52, 76, 1));
    box-shadow: 0 0 0.6em white;
}

.container-title {
    display: flex;
    justify-content: center;
    font-size: 2.1em;
    color: #ddd;
    margin-top: 1rem;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 4em;
    margin-top: 2em;
    margin-bottom: 2rem;
}

.card {
    border: 3px solid #fff;
    /* width: 200px;
    height: 200px; */
    padding: 10px;
}
